<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WSO2 Message Broker</title>

    {{placeholder 'css'}}

    <!-- Favion -->
    <link href="/mb/public/org.wso2.mb.ui.base/base/libs/theme-wso2_1.0.0/images/favicon.png" rel="icon" type="image/png" sizes="16x16" />

    <!-- ===== Custom Libs ===== -->

    <!-- DataTable CSS -->
    {{css "/libs/data-tables_1.10.7/extensions/Bootstrap/css/dataTables.bootstrap.css" }}
    {{css "/libs/data-tables_1.10.7/extensions/Responsive/css/dataTables.responsive.css" }}

    <!-- Select2 CSS -->
    {{css "/libs/select2_4.0.0/css/select2.min.css" }}

    <!-- Animate CSS -->
    {{css "/libs/animate/animate.css" }}

    <!-- jsTree CSS -->
    {{css "/libs/theme-wso2_1.0.0/themes/jstree/style.css" }}

    <!-- ===== /Custom Libs ===== -->

    <!-- Font WSO2 CSS -->
    {{css "/libs/font-wso2_1.0.0/css/font-wso2.min.css" }}

    <!-- Theme WSO2 CSS -->
    {{css "/libs/theme-wso2_1.0.0/css/theme-wso2.css" }}
    <!--[if IE]>
            {{css "/libs/theme-wso2_1.0.0/css/theme-wso2-ie.min.css" }}
    <![endif]-->

    <!-- Custom CSS -->
    {{css "/css/custom.css" }}

    <!--headerJs Placeholder-->
    {{placeholder 'headerJs'}}

    <!-- Jquery/Jquery UI JS -->
    {{headerJs "/libs/jquery_1.11.0/jquery-1.11.3.min.js"}}

    <!-- Data Tables JS -->
    {{headerJs "/libs/data-tables_1.10.7/media/js/jquery.dataTables.min.js"}}
    {{headerJs "/libs/data-tables_1.10.7/extensions/Bootstrap/js/dataTables.bootstrap.js"}}
    {{headerJs "/libs/data-tables_1.10.7/extensions/Responsive/js/dataTables.responsive.js"}}

    {{headerJs "/js/mb-common.js"}}
</head>
<body>

<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="{{@app.context}}">
                <img src="{{public "/images/logo.png"}}"
                     class="logo"/>
                <h1>WSO2 Message Broker - Management Console</h1>
            </a>
        </div>
        <div class="pull-right auth float-remove-xs text-center-xs">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="page-content-wrapper">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="80" data-offset-bottom="40">
            <div class="container-fluid">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{@app.context}}">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Queues<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{@app.context}}/queues/add">Add Queue</a></li>
                                <li><a href="{{@app.context}}/queues/">List Queues</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Topics<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{@app.context}}/topics/add">Add Topic</a></li>
                                <li><a href="{{@app.context}}/topics/">List Topics</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subscriptions<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{@app.context}}/queue-subscriptions/">Queue Subscriptions</a></li>
                                <li><a href="{{@app.context}}/topic-subscriptions/">Topic Subscriptions</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{@app.context}}/node-details/">Node Details</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="body-wrapper">
            {{defineZone "content"}}
        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        <p>WSO2 Message Broker | &copy; <script>document.write(new Date().getFullYear());</script> <a href="http://wso2.com/" target="_blank"><i class="icon fw fw-wso2"></i> Inc</a>.</p>
    </div>
</footer>

{{placeholder 'footerJs'}}

<!-- Jquery/Jquery UI JS -->
{{footerJs "/libs/jquery_1.11.0/jquery-1.11.3.min.js"}}

<!-- Jquery Resize JS -->
{{footerJs "/libs/jquery-resize_0.5.3/jquery.resize.js"}}

<!-- Bootstrap JS -->
{{footerJs "/libs/bootstrap_3.3.6/js/bootstrap.min.js"}}

<!-- Data Tables JS -->
{{footerJs "/libs/data-tables_1.10.7/media/js/jquery.dataTables.min.js"}}
{{footerJs "/libs/data-tables_1.10.7/extensions/Bootstrap/js/dataTables.bootstrap.js"}}
{{footerJs "/libs/data-tables_1.10.7/extensions/Responsive/js/dataTables.responsive.js"}}

<!-- Select2 JS -->
{{footerJs "/libs/select2_4.0.0/js/select2.full.min.js"}}

<!-- Jquery Validation JS -->
{{footerJs "/libs/jquery-validation_1.14.0/jquery.validate.min.js"}}

<!-- jsTree JS -->
{{footerJs "/libs/jstree_3.3.0/jstree.min.js"}}

<!-- Noty JS -->
{{footerJs "/libs/noty_2.3.5/packaged/jquery.noty.packaged.min.js"}}

<!-- Theme WSO2 JS -->
{{footerJs "/libs/theme-wso2_1.0.0/js/theme-wso2.js"}}

<!-- MB JS -->
{{footerJs "/js/custom.js"}}
</body>
</html>
